/*
Common Stylesheet All body
/////////////////////
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  /*datepicker stylesheet*/ }
  body a {
    text-decoration: none; }
    body a:hover {
      text-decoration: none; }
  body .heading_title {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 34, 101, 0.9);
    margin-top: 90px;
    margin-bottom: 10px; }
  body .heading_title_2 {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 80px;
    margin-bottom: 10px; }
  body .sub_heading {
    font-size: 16px;
    padding: 0 50px;
    text-align: center;
    color: #a3a3a3;
    margin: 0; }
  body .line {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 34, 101, 0.9);
    height: 1px;
    margin: 0 auto 45px;
    padding: 5px;
    position: relative;
    width: 70px; }
    body .line:after, body .line:before {
      border: medium solid transparent;
      content: " ";
      height: 0;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
      border-top-color: rgba(0, 34, 101, 0.9);
      border-width: 6px;
      margin-left: -6px; }
    body .line:after {
      border-top-color: rgba(255, 255, 255, 0.9);
      border-width: 5px;
      margin-left: -5px; }
    body .line:before {
      border-top-color: rgba(0, 34, 101, 0.9);
      border-width: 6px;
      margin-left: -6px; }
  body .line_2 {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    height: 1px;
    margin: 0 auto 45px;
    padding: 5px;
    position: relative;
    width: 70px; }
    body .line_2:after, body .line_2:before {
      border: medium solid transparent;
      content: " ";
      height: 0;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
      border-top-color: rgba(0, 34, 101, 0.9);
      border-width: 6px;
      margin-left: -6px; }
    body .line_2:after {
      border-top-color: rgba(255, 255, 255, 0.9);
      border-width: 6px;
      margin-left: -6px; }
    body .line_2:before {
      border-top-color: rgba(0, 34, 101, 0.9);
      border-width: 6px;
      margin-left: -6px; }
  body .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    box-shadow: none;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    color: #9a9a9a;
    font-weight: 300; }
  body .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    box-shadow: none;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    color: #9a9a9a;
    font-weight: 300; }

/*
Header Stylesheet
/////////////////////
*/
header {
  /*
  	Manu Stylesheet End Now
  	/////////////////////
  */
  /*
  	Slider Stylesheet Start Now
  	/////////////////////
  */
  /*
  	Slider Stylesheet End Now
  	/////////////////////
  */
  	/*
  
  		inner_page_banner Stylesheet Start Now
  		/////////////////////
  	*/
  	/*
  
  	inner_page_banner Stylesheet End Now
  	/////////////////////
  	*/ }
  header .top_header {
    background: rgba(0, 34, 101, 0.9);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    /*
    manu Stylesheet Start Now
    /////////////////////
    */ }
    header .top_header .navbar-default {
      background: rgba(0, 34, 101, 0.9);
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      header .top_header .navbar-default .navbar-brand {
        width: auto;
        height: auto;
        margin-top: 0px; }
        header .top_header .navbar-default .navbar-brand img {
          width: auto; }
        header .top_header .navbar-default .navbar-brand .main_title {
          font-size: 20px;
          font-weight: 500;
          padding: 18px 10px;
          text-align: left;
          float: left;
          display: none;
          color: rgba(255, 255, 255, 0.9); }
      header .top_header .navbar-default .navbar-toggle {
        margin-top: 30px; }
      header .top_header .navbar-default .navbar-nav {
        margin-left: 20px; }
        header .top_header .navbar-default .navbar-nav li {
          margin: 0 1px;
          padding: 35px 0;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          header .top_header .navbar-default .navbar-nav li a {
            color: rgba(255, 255, 255, 0.9);
            position: relative;
            padding: 6px 13px;
            font-weight: 500;
            font-size: 15px;
            border-radius: 20px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            text-transform: uppercase;
            position: relative; }
            header .top_header .navbar-default .navbar-nav li a:hover {
              background: rgba(255, 255, 255, 0.7);
              color: rgba(0, 34, 101, 0.9); }
            header .top_header .navbar-default .navbar-nav li a:focus {
              background: rgba(255, 255, 255, 0.7);
              color: rgba(0, 34, 101, 0.9); }
            header .top_header .navbar-default .navbar-nav li a i {
              float: left;
              margin-right: 10px;
              margin-top: 3px; }
            header .top_header .navbar-default .navbar-nav li a span i {
              border: 0;
              position: absolute;
              margin: auto;
              left: 50%;
              top: 100%; }
          header .top_header .navbar-default .navbar-nav li .button-item {
            background: #f25959;
            font-weight: bold;
            font-size: 16px;
            font-family: arial; }
          header .top_header .navbar-default .navbar-nav li .dropdown-menu {
            width: 250px;
            border-radius: none;
            box-shadow: none;
            border-bottom: 0;
            padding: 0;
            top: 75%;
            margin-top: 25px; }
            header .top_header .navbar-default .navbar-nav li .dropdown-menu li {
              height: auto;
              padding: 0;
              margin: 0; }
              header .top_header .navbar-default .navbar-nav li .dropdown-menu li a {
                border-radius: 0;
                display: block;
                padding: 10px 15px;
                text-align: left;
                color: rgba(0, 34, 101, 0.9);
                font-size: 15px;
                text-transform: capitalize;
                border-bottom: 1px solid #dadada;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s; }
                header .top_header .navbar-default .navbar-nav li .dropdown-menu li a:hover {
                  background: #eeeeee; }
                header .top_header .navbar-default .navbar-nav li .dropdown-menu li a i {
                  float: left;
                  margin-right: 10px;
                  font-size: 14px;
                  color: #f25959; }
          header .top_header .navbar-default .navbar-nav li:hover .dropdown-menu {
            display: block; }
        header .top_header .navbar-default .navbar-nav .current-menu-item a {
          background: rgba(255, 255, 255, 0.9);
          color: rgba(0, 34, 101, 0.9); }
    header .top_header .menu_fixed {
      background: rgba(0, 34, 101, 0.9);
      position: fixed;
      left: 0;
      right: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      top: 0;
      z-index: 1000; }
      header .top_header .menu_fixed .navbar-nav li {
        padding: 27px 0;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        header .top_header .menu_fixed .navbar-nav li .dropdown-menu {
          top: 72%; }
  header .slider .item .slider_text {
    opacity: 0;
    position: absolute;
    right: 17%;
    top: 20%;
    transition: all 4s ease 0s;
    width: 38%; }
    header .slider .item .slider_text .jumbotron {
      background: none;
      width: 100%; }
      header .slider .item .slider_text .jumbotron h1 {
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        color: rgba(0, 34, 101, 0.9);
        font-weight: 600; }
      header .slider .item .slider_text .jumbotron p {
        margin-top: 7px;
        color: rgba(0, 17, 50, 0.9);
        font-size: 20px;
        padding: 0 65px 0 0; }
        header .slider .item .slider_text .jumbotron p a {
          border-radius: 9999px;
          font-size: 16px;
          padding: 8px 20px;
          border: 1px solid rgba(0, 34, 101, 0.9);
          text-shadow: none;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          color: rgba(0, 34, 101, 0.9); }
          header .slider .item .slider_text .jumbotron p a:hover {
            background: rgba(0, 34, 101, 0.9);
            color: rgba(255, 255, 255, 0.9); }
          header .slider .item .slider_text .jumbotron p a i {
            margin-left: 10px; }
  header .slider .carousel-control.left {
    top: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #C0C0C0;
    padding: 15px;
    background: rgba(0, 34, 101, 0.9);
    opacity: .5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 3%; }
    header .slider .carousel-control.left:hover {
      opacity: 1; }
  header .slider .carousel-control.right {
    top: 40%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #C0C0C0;
    padding: 15px;
    background: rgba(0, 34, 101, 0.9);
    opacity: .5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    right: 3%; }
    header .slider .carousel-control.right:hover {
      opacity: 1; }
  header #inner_page_banner {
    background: url(../images/about_us_banner.jpg) no-repeat top center;
    padding: 70px 0;
    margin-bottom: 70px; }
    header #inner_page_banner .inner_page_banner_text ul.page_list {
      list-style: none;
      margin: 0;
      padding: 0; }
      header #inner_page_banner .inner_page_banner_text ul.page_list li {
        display: inline; }
        header #inner_page_banner .inner_page_banner_text ul.page_list li a {
          color: #f25959;
          font-size: 16px;
          line-height: 24px;
          margin: 0 5px; }
    header #inner_page_banner .inner_page_banner_text .page_name {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.9);
      margin: 10px 0; }
    header #inner_page_banner .inner_page_banner_text .inner_page_banner_title {
      font-size: 16px;
      color: rgba(0, 34, 101, 0.9); }

/*
	Header Stylesheet End Now
	/////////////////////
*/
/*
	Section Stylesheet Start Now
	/////////////////////
*/
section {
  /*
  	Our Product Stylesheet Start Now
  	/////////////////////
  */
  /*
  Our Product Stylesheet End Now
  /////////////////////
  */
  /*
  	Services Stylesheet Start Now
  	/////////////////////
  */
  /*
  	Services Stylesheet End Now
  	/////////////////////
  */
  /*
  Meet Our Team Stylesheet Start Now
  /////////////////////
  */
  /*
  	Meet Our Team Stylesheet End Now
  	/////////////////////
  */
  /*
  	Testimonial Stylesheet Start Now
  	/////////////////////
  */
  /*
  Testimonial Stylesheet End Now
  /////////////////////
  */
  /*
  About_Us_page Section Stylesheet
  /////////////////////
  */
  /*
  right side bar stylesheet
  /////////////////////
  */
  /*
  Book Eye Exam Appointment stylesheet
  /////////////////////
  */
  /*About U Stylesheet*/
  /*About U Stylesheet End*/
  /*
  our_service_product_item page stylesheet
  /////////////////////
  */
  /*
  our_service_product_item page stylesheet End
  /////////////////////
  */
  /*
  service details page
  /////////////////////
  */
  /*
  service details page End
  /////////////////////
  */
  /*
  Product details page
  /////////////////////
  */
  /*
  service details page End
  /////////////////////
  */ }
  section .first_section .container .row {
    margin-left: 0px;
    margin-right: 0px; }
    section .first_section .container .row .owl-controls .owl-nav .owl-prev {
      right: 11%;
      position: absolute;
      top: -10%; }
      section .first_section .container .row .owl-controls .owl-nav .owl-prev:before {
        content: "\f104";
        border: 1px solid #C0C0C0;
        color: #C0C0C0;
        display: inline-table;
        font-family: "FontAwesome";
        font-size: 20px;
        padding: 0 21px;
        position: absolute; }
      section .first_section .container .row .owl-controls .owl-nav .owl-prev:hover:before {
        background: rgba(0, 34, 101, 0.9);
        color: rgba(255, 255, 255, 0.9);
        border: none;
        border: 1px solid rgba(0, 34, 101, 0.9); }
    section .first_section .container .row .owl-controls .owl-nav .owl-next {
      right: 5%;
      position: absolute;
      top: -10%; }
      section .first_section .container .row .owl-controls .owl-nav .owl-next:before {
        content: "\f105";
        border: 1px solid #C0C0C0;
        color: #C0C0C0;
        display: inline-table;
        font-family: "FontAwesome";
        font-size: 20px;
        padding: 0 21px;
        position: absolute; }
      section .first_section .container .row .owl-controls .owl-nav .owl-next:hover:before {
        background: rgba(0, 34, 101, 0.9);
        color: rgba(255, 255, 255, 0.9);
        border: none;
        border: 1px solid rgba(0, 34, 101, 0.9); }
  section .first_section .thumbnail {
    border: 1px solid #e6e6e6;
    padding: 25px 25px 8px 25px;
    text-align: center;
    box-shadow: 0 0 10px #e6e6e6;
    border-radius: 3px; }
    section .first_section .thumbnail img.img-responsive {
      width: auto; }
    section .first_section .thumbnail .caption h3 {
      margin: 12px 0; }
      section .first_section .thumbnail .caption h3 a {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.9); }
    section .first_section .thumbnail .caption p {
      font-size: 14px;
      margin-bottom: 35px; }
      section .first_section .thumbnail .caption p a {
        font-size: 14px;
        padding: 12px 35px;
        border-radius: 0;
        background: rgba(0, 34, 101, 0.9);
        color: rgba(255, 255, 255, 0.9);
        margin-top: 12px;
        border-radius: 9999px;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s; }
        section .first_section .thumbnail .caption p a:hover {
          background: #f25959; }
  section .second_section {
    background: url(../images/our_service_img2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 90px; }
    section .second_section .service_itme {
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      padding: 40px 0; }
      section .second_section .service_itme a {
        margin: auto; }
        section .second_section .service_itme a .icon_bg {
          border-radius: 50%;
          text-align: center;
          margin: auto;
          display: table;
          width: 150px;
          height: 150px;
          background: rgba(255, 255, 255, 0.9); }
          section .second_section .service_itme a .icon_bg img {
            margin: auto;
            margin-top: 35px; }
        section .second_section .service_itme a h4 {
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 20px;
          text-align: center;
          color: rgba(255, 255, 255, 0.9); }
    section .second_section .service_more_item .service_more_btn {
      padding: 10px 30px;
      background: #f25959;
      margin: 15px auto 40px;
      display: table;
      border-radius: 9999px;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      color: rgba(255, 255, 255, 0.9); }
      section .second_section .service_more_item .service_more_btn i {
        margin-left: 12px; }
      section .second_section .service_more_item .service_more_btn:hover {
        background: rgba(0, 34, 101, 0.9); }
  section .third_section .meet_out_team {
    margin-top: 45px; }
    section .third_section .meet_out_team .thumbnail {
      position: relative;
      float: left;
      border-radius: 0;
      border: 1px solid #e6e6e6;
      width: 100%; }
      section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img {
        float: left;
        width: 50%;
        position: relative; }
        section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img .social {
          background-color: rgba(0, 34, 101, 0.9);
          left: 0;
          right: 0;
          top: 90%;
          opacity: 0;
          padding: 10px 0;
          position: absolute;
          -webkit-transition: all 0.25s;
          -moz-transition: all 0.25s;
          -ms-transition: all 0.25s;
          -o-transition: all 0.25s;
          transition: all 0.25s;
          right: 0;
          text-align: center;
          z-index: 1; }
          section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img .social .icons {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.9);
            border-radius: 50%;
            color: rgba(255, 255, 255, 0.9);
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin: 0 5px;
            text-align: center;
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            -ms-transition: all 0.25s;
            -o-transition: all 0.25s;
            transition: all 0.25s;
            vertical-align: top;
            width: 40px; }
            section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img .social .icons:hover {
              background: rgba(0, 0, 0, 0.9); }
        section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img:hover .social {
          opacity: 1;
          top: 81.5%; }
      section .third_section .meet_out_team .thumbnail .team_member_detials .caption {
        float: left;
        padding: 15px 15px 0;
        text-align: left;
        width: 50%; }
        section .third_section .meet_out_team .thumbnail .team_member_detials .caption .name {
          font-size: 16px;
          font-weight: 700;
          margin-top: 20px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.9); }
        section .third_section .meet_out_team .thumbnail .team_member_detials .caption .pos ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          section .third_section .meet_out_team .thumbnail .team_member_detials .caption .pos ul li {
            display: inline;
            margin: 0 2px;
            font-size: 14px;
            color: rgba(0, 34, 101, 0.9); }
        section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios {
          font-size: 13px;
          line-height: 23px;
          text-align: justify;
          margin-top: 10px; }
          section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios a {
            display: table;
            padding: 10px 18px;
            background: rgba(0, 34, 101, 0.9);
            color: rgba(255, 255, 255, 0.9);
            font-size: 14px;
            margin-top: 15px;
            border-radius: 9999px;
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            -ms-transition: all 0.25s;
            -o-transition: all 0.25s;
            transition: all 0.25s; }
            section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios a:hover {
              background: #f25959; }
  section .forth_section {
    background: transparent url("../images/testimonial.jpg") no-repeat scroll 0 0;
    margin-top: 90px;
    padding-bottom: 140px; }
    section .forth_section .testimonial_mess_item {
      text-align: center;
      color: rgba(255, 255, 255, 0.9); }
      section .forth_section .testimonial_mess_item .testimonial_item .name {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase; }
      section .forth_section .testimonial_mess_item .testimonial_item .pos {
        font-size: 16px;
        color: #f25959;
        margin-bottom: 15px; }
      section .forth_section .testimonial_mess_item .testimonial_item .desc {
        font-size: 15px;
        font-style: italic;
        position: relative;
        color: rgba(0, 0, 0, 0.9); }
        section .forth_section .testimonial_mess_item .testimonial_item .desc:after {
          content: "\f10e";
          font-family: "fontawesome";
          font-size: 50px;
          font-style: normal;
          position: absolute;
          right: -60px;
          top: -40px; }
      section .forth_section .testimonial_mess_item .carousel-control.left {
        top: 40%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #9a9a9a;
        background: #C0C0C0;
        padding: 15px;
        opacity: .5;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        left: 3%; }
        section .forth_section .testimonial_mess_item .carousel-control.left:hover {
          opacity: 1; }
      section .forth_section .testimonial_mess_item .carousel-control.right {
        top: 40%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #9a9a9a;
        background: #C0C0C0;
        padding: 15px;
        opacity: .5;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        right: 3%; }
        section .forth_section .testimonial_mess_item .carousel-control.right:hover {
          opacity: 1; }
  section .inner_page_container {
    margin: 70px 0; }
    section .inner_page_container .left_side_info .doc_info img {
      float: left;
      margin-right: 25px; }
    section .inner_page_container .left_side_info .doc_info .pro_caption .name_title {
      font-size: 20px;
      color: #8d8d8d; }
    section .inner_page_container .left_side_info .doc_info .pro_caption ul.degree {
      margin: 5px 0 0 0;
      padding: 0;
      list-style: none; }
      section .inner_page_container .left_side_info .doc_info .pro_caption ul.degree li {
        display: inline;
        font-size: 14px; }
    section .inner_page_container .left_side_info .doc_info .pro_caption .about_doc {
      font-size: 15px;
      line-height: 24px;
      margin-top: 20px;
      text-align: justify;
      margin-bottom: 15px;
      color: #8d8d8d; }
    section .inner_page_container .left_side_info .doc_info .pro_caption .doc_contact ul {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none; }
      section .inner_page_container .left_side_info .doc_info .pro_caption .doc_contact ul li {
        display: block;
        color: #5a5a5a;
        font-size: 16px;
        margin: 5px 0; }
        section .inner_page_container .left_side_info .doc_info .pro_caption .doc_contact ul li a {
          color: #a7a7a7; }
        section .inner_page_container .left_side_info .doc_info .pro_caption .doc_contact ul li i {
          font-size: 18px;
          color: #f25959;
          margin-right: 10px;
          float: left;
          padding: 3px 0; }
    section .inner_page_container .left_side_info .doc_info .pro_caption .social_link ul {
      margin: 20px 0 0 0;
      padding: 0; }
      section .inner_page_container .left_side_info .doc_info .pro_caption .social_link ul li {
        display: inline; }
        section .inner_page_container .left_side_info .doc_info .pro_caption .social_link ul li a {
          color: rgba(0, 34, 101, 0.9); }
          section .inner_page_container .left_side_info .doc_info .pro_caption .social_link ul li a i {
            border-radius: 50%;
            font-size: 16px;
            height: 35px;
            margin-right: 5px;
            padding: 9px 11px;
            width: 35px;
            border: 1px solid rgba(0, 34, 101, 0.9);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            section .inner_page_container .left_side_info .doc_info .pro_caption .social_link ul li a i:hover {
              background: rgba(0, 34, 101, 0.9);
              color: rgba(255, 255, 255, 0.9); }
    section .inner_page_container .left_side_info .pro_overview h4 {
      font-size: 22px;
      text-align: left;
      color: #5a5a5a;
      line-height: 21px; }
    section .inner_page_container .left_side_info .pro_overview p {
      font-size: 15px;
      text-align: justify;
      color: #747474;
      margin: 20px 0;
      line-height: 24px;
      border-left: 1px solid #8d8d8d;
      padding-left: 20px; }
    section .inner_page_container .left_side_info .pro_overview .over_view {
      float: left;
      margin-top: 40px; }
    section .inner_page_container .left_side_info .pro_overview .education_info {
      float: left;
      margin-top: 30px; }
      section .inner_page_container .left_side_info .pro_overview .education_info .edu_all_info {
        float: left;
        padding: 0px 15px 15px 15px;
        width: 45%;
        border: 1px solid #C0C0C0;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 5%; }
        section .inner_page_container .left_side_info .pro_overview .education_info .edu_all_info h3 {
          font-size: 18px;
          color: #f25959;
          line-height: 28px; }
          section .inner_page_container .left_side_info .pro_overview .education_info .edu_all_info h3 span {
            color: #8d8d8d; }
        section .inner_page_container .left_side_info .pro_overview .education_info .edu_all_info h5 {
          color: #747474; }
  section .right_side_info {
    /*Contact Info stylesheet*/
    /*Contact Info stylesheet End*/ }
    section .right_side_info h1 {
      font-size: 22px;
      color: #747474;
      text-align: left;
      line-height: 0;
      margin-bottom: 30px; }
    section .right_side_info .our_service_list {
      margin-bottom: 60px; }
      section .right_side_info .our_service_list ul.service_listing {
        border-left: 1px solid #f68888;
        padding-left: 20px;
        list-style: none; }
        section .right_side_info .our_service_list ul.service_listing li {
          display: list-item; }
          section .right_side_info .our_service_list ul.service_listing li a {
            color: #8d8d8d;
            border-bottom: 1px solid #C0C0C0;
            padding: 8px 0;
            display: block;
            font-size: 16px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
            section .right_side_info .our_service_list ul.service_listing li a:hover {
              background: #f25959;
              color: rgba(255, 255, 255, 0.9);
              padding-left: 15px; }
    section .right_side_info .photo_gallery {
      margin-bottom: 60px; }
      section .right_side_info .photo_gallery .img_item {
        float: left;
        margin-bottom: 30px;
        width: 100%; }
        section .right_side_info .photo_gallery .img_item a.thumbnail {
          width: 31.30%;
          margin-bottom: 10px;
          border-radius: 0;
          float: left;
          margin-right: 3%;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          section .right_side_info .photo_gallery .img_item a.thumbnail:nth-child(3) {
            margin-right: 0%;
            float: right; }
          section .right_side_info .photo_gallery .img_item a.thumbnail:nth-child(6) {
            margin-right: 0%;
            float: right; }
          section .right_side_info .photo_gallery .img_item a.thumbnail:hover {
            background: #dadada;
            border-color: #dadada; }
    section .right_side_info .contact_info {
      margin-bottom: 30px;
      float: left;
      border-left: 1px solid #C0C0C0;
      padding-left: 15px; }
      section .right_side_info .contact_info h5 {
        color: #5a5a5a;
        border-left: 10px solid #f25959;
        font-size: 22px;
        font-weight: 300;
        margin: 15px 0;
        padding-left: 17px;
        margin-left: 10px; }
      section .right_side_info .contact_info .office_location {
        margin: 0;
        padding: 0;
        list-style: none; }
        section .right_side_info .contact_info .office_location li {
          display: block;
          padding: 5px 0;
          font-size: 16px;
          color: #a7a7a7;
          -webkit-transition: all 0.25s;
          -moz-transition: all 0.25s;
          -ms-transition: all 0.25s;
          -o-transition: all 0.25s;
          transition: all 0.25s; }
          section .right_side_info .contact_info .office_location li:hover {
            color: #f25959; }
          section .right_side_info .contact_info .office_location li i {
            width: 30px;
            height: 30px;
            float: left;
            padding: 7px;
            font-size: 16px;
            color: #747474;
            margin-right: 10px; }
      section .right_side_info .contact_info .visit_info h3 {
        font-size: 16px;
        color: #414141;
        font-weight: 400;
        margin: 15px 0; }
        section .right_side_info .contact_info .visit_info h3 i {
          float: left;
          color: #747474;
          font-size: 18px;
          margin-right: 18px;
          padding-left: 12px; }
      section .right_side_info .contact_info .visit_info .visit_day {
        margin: -10px 0 0 0;
        padding: 0;
        list-style: none; }
        section .right_side_info .contact_info .visit_info .visit_day li {
          display: block;
          padding: 3px 0;
          font-size: 16px;
          color: #8d8d8d;
          -webkit-transition: all 0.25s;
          -moz-transition: all 0.25s;
          -ms-transition: all 0.25s;
          -o-transition: all 0.25s;
          transition: all 0.25s;
          margin-left: 15px;
          padding-left: 15px; }
          section .right_side_info .contact_info .visit_info .visit_day li i {
            float: left;
            color: #C0C0C0;
            font-size: 15px;
            margin-right: 10px;
            padding-left: 12px; }
          section .right_side_info .contact_info .visit_info .visit_day li:hover {
            color: #f25959; }
  section .about_u_seft .about_your_details {
    padding: 25px;
    border: 1px solid #dadada; }
  section .about_u_seft form h1 {
    color: #f25959;
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid #f25959;
    display: table;
    padding-bottom: 10px; }
  section .about_u_seft form h2 {
    color: #f25959;
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid #f25959;
    display: table;
    padding-bottom: 10px;
    margin-top: 40px;
    float: left; }
  section .about_u_seft form div.input_item {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left; }
    section .about_u_seft form div.input_item label {
      display: block;
      margin-bottom: 15;
      color: rgba(0, 34, 101, 0.9);
      font-weight: 500;
      font-size: 15px;
      float: left; }
      section .about_u_seft form div.input_item label span {
        float: right;
        font-size: 30px;
        line-height: 0;
        margin-left: 2px;
        margin-top: 15px;
        color: #f25959; }
    section .about_u_seft form div.input_item input {
      width: 100%;
      height: 40px;
      border: 1px solid #dadada;
      padding-left: 15px;
      color: #9a9a9a; }
    section .about_u_seft form div.input_item textarea {
      width: 100%;
      border: 1px solid #dadada;
      padding: 20px;
      height: 200px;
      resize: none; }
    section .about_u_seft form div.input_item select.select_option {
      width: 100%;
      height: 40px;
      border: 1px solid #dadada;
      padding-left: 15px;
      color: #9a9a9a; }
      section .about_u_seft form div.input_item select.select_option option {
        border: 0;
        border-bottom: 1px solid #dadada;
        height: 25px;
        padding: 4px 15px;
        width: 100%; }
  section .about_u_seft form .submit {
    float: left; }
    section .about_u_seft form .submit input {
      padding: 10px 30px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.9);
      background: #f25959;
      border: none; }
  section .about_u_seft iframe {
    width: 100%;
    height: 250px;
    border: 5px solid #f3f3f3 !important; }
  section .our_service_product_item .thumbnail {
    border-radius: 0;
    padding: 0 0 15px 0;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 3px; }
    section .our_service_product_item .thumbnail img.title_main_img {
      margin-bottom: 30px; }
    section .our_service_product_item .thumbnail .caption {
      padding: 0 12px; }
      section .our_service_product_item .thumbnail .caption img.service_icon {
        padding: 17px 6px;
        border-radius: 50%;
        border: 4px solid #f3f3f3;
        width: 100px;
        background: #002265;
        position: relative;
        top: -65px;
        margin-bottom: -65px; }
      section .our_service_product_item .thumbnail .caption .service_title {
        color: rgba(0, 34, 101, 0.9); }
        section .our_service_product_item .thumbnail .caption .service_title h3 {
          font-size: 18px;
          margin: 15px 0;
          font-weight: 600;
          text-transform: uppercase; }
      section .our_service_product_item .thumbnail .caption p {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 25px; }
        section .our_service_product_item .thumbnail .caption p a {
          padding: 12px 25px;
          background: rgba(0, 34, 101, 0.9);
          color: rgba(255, 255, 255, 0.9);
          border-radius: 25px;
          -webkit-transition: all 0.25s;
          -moz-transition: all 0.25s;
          -ms-transition: all 0.25s;
          -o-transition: all 0.25s;
          transition: all 0.25s; }
          section .our_service_product_item .thumbnail .caption p a:hover {
            background: #f25959; }
  section .service_details img {
    margin-bottom: 30px; }
  section .service_details p {
    line-height: 22px;
    text-align: justify; }
  section .product_details_info {
    float: left;
    width: 100%;
    border: 1px solid #C0C0C0;
    margin-top: 50px;
    margin-bottom: 50px; }
    section .product_details_info img {
      margin-bottom: 30px;
      float: left; }
    section .product_details_info h1 {
      color: #f25959;
      font-size: 24px; }
    section .product_details_info h3 {
      color: #8d8d8d;
      margin-bottom: 20px;
      font-size: 18px; }
    section .product_details_info p {
      line-height: 22px;
      text-align: justify;
      font-size: 15px; }

/*
Section Stylesheet End Now
/////////////////////
*/
/*
Footer Stylesheet Start Now
/////////////////////
*/
footer {
  padding-top: 55px;
  background: rgba(0, 34, 101, 0.9); }
  footer .footer_item .links_item {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    list-style: none; }
    footer .footer_item .links_item li {
      display: list-item; }
      footer .footer_item .links_item li a {
        color: rgba(255, 255, 255, 0.9); }
  footer .footer_item .footer_contact .contact-info .list-unstyled {
    margin: 0 0 0 -15px;
    padding: 0; }
    footer .footer_item .footer_contact .contact-info .list-unstyled li {
      margin: 7px 0;
      color: rgba(255, 255, 255, 0.9);
      font-size: 16px; }
      footer .footer_item .footer_contact .contact-info .list-unstyled li a {
        color: rgba(255, 255, 255, 0.9); }
        footer .footer_item .footer_contact .contact-info .list-unstyled li a i {
          font-size: 14px;
          float: left;
          width: 40px;
          height: 25px; }
      footer .footer_item .footer_contact .contact-info .list-unstyled li i {
        font-size: 14px;
        float: left;
        padding: 4px 15px;
        width: 40px;
        height: 25px; }
      footer .footer_item .footer_contact .contact-info .list-unstyled li .phone_num {
        color: #f25959; }
  footer .footer_item .footer_heading {
    margin-bottom: 32px; }
    footer .footer_item .footer_heading p {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.9); }
  footer .footer_item .social_icon {
    float: left; }
    footer .footer_item .social_icon ul {
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none; }
      footer .footer_item .social_icon ul li {
        display: inline; }
        footer .footer_item .social_icon ul li a {
          width: 40px;
          height: 40px;
          border: 1px solid rgba(255, 255, 255, 0.9);
          color: rgba(255, 255, 255, 0.9);
          display: inline-block;
          border-radius: 50%;
          padding: 12px 12px;
          margin-right: 5px; }
          footer .footer_item .social_icon ul li a i {
            font-size: 18px; }
          footer .footer_item .social_icon ul li a:hover {
            background: rgba(0, 0, 0, 0.9);
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            -ms-transition: all 0.25s;
            -o-transition: all 0.25s;
            transition: all 0.25s; }
  footer .last_footer {
    text-align: center;
    font-size: 13px;
    margin-top: 80px;
    clear: both;
    background: rgba(0, 34, 101, 0.9); }
    footer .last_footer p {
      padding: 10px 0;
      margin: 0;
      font-size: 12px;
      color: #8d8d8d; }
      footer .last_footer p a {
        color: rgba(152, 187, 255, 0.9); }
        footer .last_footer p a:hover {
          text-decoration: underline; }
  footer .bottom_to_top {
    position: fixed;
    right: 1%;
    bottom: 0%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1000000; }
    footer .bottom_to_top a i {
      background: rgba(0, 17, 50, 0.9);
      color: rgba(255, 255, 255, 0.9);
      padding: 13px 15PX;
      font-size: 18px; }
  footer .bottom_top_active {
    bottom: 3%;
    opacity: 1;
    transform: scale(1, 1); }

/*
Footer Stylesheet End Now
/////////////////////
*/
/*
Responsive stylesheet Start Now
/////////////////////
////////////////////
///////////////////
*/
@media screen and (max-width: 1199px) {
  /* // Home Page Stylesheet Start //  */
  header .top_header .navbar-default .navbar-nav {
    margin-left: 0; }

  header .top_header .navbar-default .navbar-nav li a {
    font-size: 13px;
    padding: 6px 10px; }

  header .top_header .navbar-default .navbar-nav li .button-item {
    font-size: 14px; }

  header .top_header .navbar-default .navbar-nav li .dropdown-menu li a {
    font-size: 13px; }

  header .slider .item .slider_text {
    top: 5%;
    width: 45%; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios {
    font-size: 12px;
    line-height: 19px;
    margin-top: 0; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios a {
    font-size: 13px;
    margin-top: 12px;
    padding: 7px 18px; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .caption .name {
    font-size: 15px;
    margin-top: 4px; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img .social .icons {
    line-height: 28px;
    width: 30px;
    height: 30px;
    margin: 0 2px; }

  /* // Home Page Stylesheet End //  */
  /* // About Us Page Stylesheet Start //  */ }
@media screen and (max-width: 991px) {
  /* // Home Page Stylesheet Start //  */
  /*Manu Break*/
  .navbar-header {
    float: none; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  header .top_header .navbar-default .navbar-brand .main_title {
    display: block; }

  .navbar-default .navbar-toggle {
    border-color: light(rgba(0, 34, 101, 0.9), 100%);
    display: block;
    border-radius: 0; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.9); }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none; }

  header .slider .item .slider_text .jumbotron h1 {
    font-size: 22px;
    line-height: 20px; }

  .nav.navbar-nav {
    padding: 0 15px 0 0; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    box-shadow: none; }

  header .slider .item .slider_text .jumbotron {
    padding-top: 0; }

  header .slider .item .slider_text .jumbotron p {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 45px 0 0; }

  header .top_header .navbar-default .navbar-nav li .dropdown-menu {
    border: none;
    display: block !important;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
    background: none;
    left: 15px; }

  .menu .dropdown .drop_icon {
    display: none; }

  header .top_header .navbar-default .navbar-nav .active a {
    background: none;
    color: rgba(255, 255, 255, 0.9); }

  header .top_header .navbar-default .navbar-nav li {
    float: left;
    width: 100%;
    padding: 0; }

  header .top_header .navbar-default .navbar-nav li .dropdown-menu li a {
    border-bottom: 1px solid rgba(0, 25, 76, 0.9);
    border-top: 1px solid rgba(0, 43, 127, 0.9); }

  header .top_header .navbar-default .navbar-nav li .dropdown-menu li a:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 25, 76, 0.9); }

  header .top_header .navbar-default .navbar-nav li a {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 25, 76, 0.9);
    border-top: 1px solid rgba(0, 43, 127, 0.9); }

  header .top_header .navbar-default .navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 25, 76, 0.9); }

  header .top_header .navbar-default .navbar-nav li .dropdown-menu li a {
    color: rgba(255, 255, 255, 0.9); }

  section .second_section {
    margin-top: 60px; }

  body .heading_title {
    margin-top: 60px; }

  body .sub_heading {
    font-size: 15px;
    padding: 0 10px; }

  body .heading_title, body .heading_title_2 {
    margin-bottom: 0; }

  .doctor_img {
    width: 100% !important; }

  section .first_section .container .row .owl-controls .owl-nav .owl-prev {
    right: 16%; }

  section .first_section .container .row .owl-controls .owl-nav .owl-next {
    right: 7%; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .caption {
    width: 100%; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .doctor_img:hover .social {
    top: 86%; }

  section .first_section .thumbnail .caption h3 a {
    font-size: 15px; }

  header .slider .carousel-control.left {
    width: 45px;
    height: 45px;
    padding: 7px; }

  header .slider .carousel-control.right {
    width: 45px;
    height: 45px;
    padding: 7px; }

  footer .footer_item .footer_contact .contact-info .list-unstyled li i {
    height: 25px; }

  footer .last_footer p {
    font-size: 11px; }

  /* // Home Page Stylesheet End  //  */
  /* // Service Page Stylesheet Start //  */
  .our_service_product_item .col-sm-4 {
    width: 50%; }

  /* // appointment Page Stylesheet Start //  */
  .appointment_section .col-sm-8 {
    width: 100%;
    margin-bottom: 40px; }

  .appointment_section .col-sm-4 {
    width: 100%; }

  /* // Contact Us Page Stylesheet Start //  */
  .contact_us_section .col-sm-8 {
    width: 100%;
    margin-bottom: 40px; }

  .contact_us_section .col-sm-4 {
    width: 100%; }

  /* // Product Details Page Stylesheet Start //  */
  .product_details_section .col-sm-8 {
    width: 100%;
    margin-bottom: 40px; } }
@media screen and (max-width: 767px) {
  /* // Home Page Stylesheet Start  //  */
  .meet_out_team .col-xs-12 {
    width: 50%; }

  .first_section .col-xs-12 {
    width: 33.33%; }

  footer .col-xs-12 {
    width: 50%; }

  .last_footer .col-xs-12 {
    width: 100%; }

  header .top_header .navbar-default .navbar-nav li {
    padding: 0; }

  header .slider .item .slider_text {
    right: 5%;
    width: 60%; }

  header .slider .item .slider_text .jumbotron {
    padding-top: 0px; }

  section .second_section .service_more_item .service_more_btn {
    padding: 10px 15px; }

  section .first_section .thumbnail .caption p a {
    font-size: 13px;
    padding: 10px 16px; }

  section .forth_section .testimonial_mess_item .testimonial_item .desc::after {
    right: -30px; }

  section .second_section .service_itme a h4 {
    line-height: 24px; }

  section .right_side_info .contact_info h5 {
    font-size: 18px; }

  section .right_side_info .contact_info .office_location li {
    font-size: 15px; }

  section .right_side_info .contact_info .visit_info .visit_day li {
    font-size: 15px; }

  /* // Home Page Stylesheet End  //  */
  /* // About Us Page Stylesheet Start //  */
  footer .footer_item .footer_contact .contact-info .list-unstyled li .phone_num span {
    display: block; }

  /* // Service Page Stylesheet Start //  */
  .our_service_product_item .col-xs-12 {
    width: 50%; }

  section .our_service_product_item .thumbnail .caption .service_title h3 {
    font-size: 17px; } }
@media screen and (max-width: 667px) {
  /* // Home Page Stylesheet Start  //  */
  header .slider .item .slider_text .jumbotron h1 {
    font-size: 19px;
    line-height: 10px; }

  header .slider .item .slider_text .jumbotron p {
    font-size: 16px; }

  footer .last_footer p a {
    display: block; }

  header .slider .item .slider_text {
    width: 60%;
    right: 5%; }

  body .heading_title, body .heading_title_2 {
    font-size: 22px;
    line-height: 25px; }

  section .second_section .service_more_item .service_more_btn {
    font-size: 14px; }

  .first_section .col-xs-12 {
    width: 100%; }

  section .first_section .container .row .owl-controls .owl-nav .owl-prev {
    right: 18%; }

  section .first_section .container .row .owl-controls .owl-nav .owl-next {
    right: 8%; }

  /* // Home Page Stylesheet End  //  */
  /* // About Us Page Stylesheet Start //  */
  footer .footer_item .footer_contact .contact-info .list-unstyled li {
    font-size: 15px; }

  footer .footer_item .footer_contact .contact-info .list-unstyled li i {
    height: 48px; }

  /* // Service Page Stylesheet Start //  */ }
@media screen and (max-width: 599px) {
  /* // Home Page Stylesheet Start  //  */
  header .slider .item .slider_text .jumbotron p a {
    font-size: 16px;
    padding: 6px 19px; }

  section .first_section .container .row .owl-controls .owl-nav .owl-prev::before {
    padding: 0 13px; }

  section .first_section .container .row .owl-controls .owl-nav .owl-next::before {
    padding: 0 13px; }

  .owl-carousel .owl-item {
    width: 100%; }

  /* // Home Page Stylesheet End  //  */
  /* // About Us Page Stylesheet Start //  */
  footer .footer_item .links_item {
    font-size: 14px; }

  section .inner_page_container .left_side_info .doc_info img {
    float: none;
    margin-bottom: 30px; }

  section .inner_page_container .left_side_info .pro_overview .education_info .edu_all_info {
    width: 100%; }

  header #inner_page_banner {
    padding: 30px 0; }

  /* // Service Page Stylesheet Start //  */
  .our_service_product_item .col-xs-12 {
    width: 100%; }

  .img-responsive.title_main_img {
    width: 100%; } }
@media screen and (max-width: 555px) {
  /* // Home Page Stylesheet Start  //  */
  .meet_out_team .col-xs-12 {
    width: 100%; }

  .first_section .thumbnail img {
    margin: auto; }

  header .slider .item .slider_text .jumbotron h1 {
    font-size: 15px;
    line-height: 0; }

  header .slider .item .slider_text .jumbotron p {
    font-size: 14px; }

  header .slider .item .slider_text .jumbotron p a {
    font-size: 13px;
    padding: 6px 17px;
    text-shadow: none; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios a {
    font-size: 14px;
    padding: 10px 25px; }

  .first_section .thumbnail {
    margin-bottom: 30px; }

  section .third_section .meet_out_team .thumbnail .team_member_detials .caption .sort_bios {
    font-size: 13px;
    line-height: 22px;
    margin-top: 10px; }

  section .first_section .thumbnail .caption p a {
    font-size: 15px;
    padding: 12px 30px; }

  header .slider .item .slider_text {
    top: 7%; }

  footer .col-xs-12 {
    width: 100%; }

  header .top_header .navbar-default .navbar-brand .main_title {
    font-size: 15px; }

  footer {
    padding-top: 0; }

  footer .footer_item .footer_heading p {
    margin-top: 40px; }

  footer .footer_item .footer_heading {
    margin-bottom: 20px; }

  section .forth_section .testimonial_mess_item .testimonial_item .desc {
    font-size: 14px; }

  /* // Home Page Stylesheet End  //  */
  /* // About Us Page Stylesheet Start //  */
  footer .footer_item .footer_contact .contact-info .list-unstyled li i {
    height: 25px; } }
@media screen and (max-width: 505px) {
  /* // Home Page Stylesheet Start  //  */
  header .slider .item .slider_text {
    top: 0; }

  header .slider .item .slider_text .jumbotron p {
    padding: 0; }

  footer .footer_item .footer_contact .contact-info .list-unstyled li i {
    height: 25px; }

  header .slider .item .slider_text .jumbotron .display-3 {
    font-size: 0.85rem; }

  header .slider .item .slider_text {
    width: 65%; }

  header .slider .item .slider_text .jumbotron {
    padding: 10px 0;
    width: 100%; }

  header .top_header .navbar-default .navbar-brand img {
    width: 25%; }

  .navbar-default .navbar-brand {
    width: 70% !important; }

  /* // Home Page Stylesheet End  //  */ }
@media screen and (max-width: 470px) {
  /* // Home Page Stylesheet Start  //  */
  header .slider .item .slider_text .jumbotron p {
    font-size: 13px;
    line-height: 14px; }

  header .slider .item .slider_text .jumbotron h1 {
    font-size: 15px;
    margin-top: 0; }

  header .slider .item .slider_text .jumbotron p a {
    font-size: 11px;
    padding: 0 13px 3px;
    text-shadow: none; }

  header .top_header .navbar-default .navbar-brand .main_title {
    display: none; }

  header .top_header .navbar-default .navbar-brand img {
    width: 30%; }

  header .top_header .navbar-default .navbar-toggle {
    margin-top: 19px; }

  /* // Home Page Stylesheet End  //  */ }
@media screen and (max-width: 370px) {
  /* // Home Page Stylesheet Start  //  */
  section .second_section .service_more_item .service_more_btn {
    font-size: 12px; }

  header .top_header .navbar-default .navbar-toggle {
    margin-top: 15px; }

  /* // Home Page Stylesheet End  //  */
  /* // About Us Page Stylesheet Start //  */
  section .right_side_info .photo_gallery .img_item a.thumbnail {
    width: 100%;
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
