@font-face {
	font-family: 'illusive-icon';
	src:url('../fonts/illusive-icon.eot?-p54s0e');
	src:url('../fonts/illusive-icon.eot?#iefix-p54s0e') format('embedded-opentype'),
		url('../fonts/illusive-icon.ttf?-p54s0e') format('truetype'),
		url('../fonts/illusive-icon.woff?-p54s0e') format('woff'),
		url('../fonts/illusive-icon.svg?-p54s0e#illusive-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="illusive-icon-"], [class*=" illusive-icon-"] {
	font-family: 'illusive-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.illusive-icon-ecommerce:before {
	content: "\e608";
}
.illusive-icon-website:before {
	content: "\e600";
}
.illusive-icon-support-maintenance:before {
	content: "\e601";
}
.illusive-icon-phone:before {
	content: "\e602";
}
.illusive-icon-comments:before {
	content: "\e603";
}
.illusive-icon-branding:before {
	content: "\e604";
}
.illusive-icon-start-ups:before {
	content: "\e605";
}
.illusive-icon-businesses:before {
	content: "\e606";
}
.illusive-icon-agencies:before {
	content: "\e607";
}
